<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <title>Prime Time</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'primetime/login.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Rajdhani:600&display=swap" rel="stylesheet">
    </head>
    <body>

    </body>
</html> -->
<!DOCTYPE html>
<html>
	<head>
		<title>Meet Your Next Study Date</title>
		<link type="text/css" rel="stylesheet" href="/css/cafes.css"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
	</head>
	
	<body>
		
		<div class="icon"></div>
		<h1>Pick a Virtual Cafe</h1>
		<div class="cafes-body">
			<div class="cafes-ind">
				<span></span>
				<h4>Reaco Coffee Shop</h4>
				<h5>Playing: Lo-Fi Beats</h5>
			</div>
			
			<span></span>
			
			<div class="cafes-ind">
				<span></span>
				<h4>Reaco Coffee Shop</h4>
				<h5>Playing: Lo-Fi Beats</h5>
			</div>
			
<!--			<span></span>-->
			
			<div class="cafes-ind">
				<span></span>
				<h4>Reaco Coffee Shop</h4>
				<h5>Playing: Lo-Fi Beats</h5>
			</div>
			
			<span></span>
			
			<div class="cafes-ind">
				<span></span>
				<h4>Reaco Coffee Shop</h4>
				<h5>Playing: Lo-Fi Beats</h5>
			</div>
		</div>
	</body>
	
</html>