<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Prime Time</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'primetime/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:600&display=swap" rel="stylesheet">
</head>
<body>

    <!-- <div class = "site_header">
    </div> -->

    <span class="site_title">Prime Time</span>
    <div class="site_login_register">
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
        </form>
    </div>
    <div class="site_student_information">
        <form>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname">
            
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname">
            
            <label for="studytime">Preferred Study Time:</label>
            <input type="text" id="studytime" name="studytime">
            
            <label for="studystyle">Study Style:</label>
            <input type="text" id="studystyle" name="studystyle">
            
            <label for="subjects">Subjects:</label>
            <input type="subjects" id="subjects" name="subjects">

            <button type="submit" name="submit">Submit</button>
        </form>
    </div>



</body>
</html>