<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <title>Prime Time</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'primetime/login.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Rajdhani:600&display=swap" rel="stylesheet">
    </head>
    <body>

        <span class="site_title">Prime Time</span>
        <div class="site_initial">
            <button href="home.html">Plan Your Next Study Date</button>
            <button href="cafe.html">Go To Digital Cafe</button>
        </div>
    </body>
</html> -->
<!DOCTYPE html>
<html>
	<head>
		<title>Meet Your Next Study Date</title>
		<link type="text/css" rel="stylesheet" href="/css/landing.css"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<div class="landing-introduction"></div>
		<div class="landing-buttons">
			<button>Plan Your Next Study Date</button>
			<button>Go to a Digital Cafe</button>
		</div>
		
	</body>
</html>