<!DOCTYPE html>
<html>
	<head>
		<title>Meet Your Next Study Date</title>
		<link href="/css/global.css" rel="stylesheet" type="text/css"/>
		<link href="/css/matches.css" rel="stylesheet" type="text/css"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<header>
			<div class="icon" href="main.html"></div>
			<a class="matches" href="matches.html"></a> 
			<a class="chat" href="chat.html"></a> 
			<a class="profile" href="profile.html"></a>
		</header>
		
		<div class="matches-body">
			<h3>Meet your matches!</h3>
			<div class="matches-ind">
				<img src="/img/tina.jpeg" alt="tina">
				<div class="name">Tina Ansari</div>
				<div class="distance">2 mi</div>
			</div>
			
			<div class="matches-ind">
				<img src="/img/priscilla.jpeg" alt="priscilla">
				<div class="name">Priscilla Kim</div>
				<div class="distance">10 mi</div>
			</div>
			
			<div class="matches-ind">
				<img src="/img/srnah.jpeg" alt="serena">
				<div class="name">Serena Huang</div>
				<div class="distance">12 mi</div>
			</div>
		</div>
		
	</body>
</html>